
  button {
    background-color: #008CBA;
    color: white;
  }
  
  .grid{
    width: 80%;
    text-align: center;
  }
  
  .full-width{
     width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }