.role{
  width: 80%;
  text-align: center;
}
.grid{
  width: 80%;
  text-align: center;
}
.gl{
  border: 2px solid black;
}

.full-width{
   width: 80%;
}

example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 40px;
}
