.container{
  display: block;
  text-align: center;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.card{
  margin:2%;
  padding:2%;
  width: 55%;
}
.create-form{
  text-align: center;
  margin:5% auto;
}
.full-width{
  width: 100%;
}

.example-margin{
  margin-right: 7%;
}

.grid{
  min-width: 735px;
  max-width: 735px;
}

.alert {
  width: 100%;
  background: #f2edda;
  padding: 7px;
  font-size: .9em;
  margin-top: -2%;
  color: red;
  margin-bottom: 1%;
  display: inline-block;
  animation: 2s alertAnim forwards;
}

.half-width{
  width: 49%;
  margin: 2% auto;
}
