.container{
  display: block;
  text-align: center;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.card{
  margin:2%;
  padding:2%;
  width: 65%;
}
.create-form{
  text-align: center;
  margin:5% auto;
}
.full-width{
  width: 100%;
}

.example-margin{
  margin-right: 7%;
}

.grid{
  min-width: 735px;
  max-width: 735px;
}
