<!-- List div-->

<div class="container .mat-display-3" style="padding:1%">
  <div *ngIf="!toUpdate">
    <div class="card" style="margin:2% auto;width:55%">
     <!-- <h4 style="text-align: center;"><b>Department List</b></h4> -->
      <mat-card class=" mat-elevation-z5" *ngFor="let department of allDepartments" style="padding:0.7%;margin-bottom:0.4%;">
        <mat-card-header style="margin-left:2%;margin-top:3%;margin-bottom:-3%">
         <div mat-card-avatar class="material-icons" style="font-size:30px;color:rgba(0, 102, 186, 0.986);">video_label</div>
          <mat-card-title style="font-size:25px;">{{department.departmentName}}</mat-card-title>
        </mat-card-header>
       <mat-card-content>
        <table>
        <tr>
        <td style="width:94%;text-align:left;margin-left:5%">
         <p style="margin-left:7%">{{department.departmentDescription}}
         <br>
         </p>
        </td>
        <td>
          <button mat-raised-button style="margin-bottom:5%;" (click)="onUpdateClick(department)">
          <i class="material-icons small">edit</i> Update</button>
          <button mat-raised-button style="color:red;width:100%" (click)="openDepartmentDeleteDialog(department)">
          <i class="material-icons small" >delete</i> Delete</button>
        </td>
        </tr>
        </table>
       </mat-card-content>
      </mat-card>
      <br>
    </div>
  </div>
</div> 

<!--Updation div -->
  <div class="example-container">
    <div *ngIf="toUpdate">
      <form [formGroup]="departmentUpdateForm" (ngSubmit)="onUpdateSubmit()">
        <mat-grid-list cols="1" rowHeight="3:1">
          <mat-grid-tile>
            <mat-card class="grid">
              <h4><b>Department Updation</b></h4>

              <i class="material-icons prefix">account_circle</i>
              <mat-form-field class="full-width">

                <input matInput placeholder="Department ID" formControlName="departmentId" *ngIf="toUpdate">
              </mat-form-field>
              <div>
              <i class="material-icons prefix">perm_identity</i>
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Department Name" class="validate" formControlName="departmentName" required></textarea>
              </mat-form-field>
              </div>
              <i class="material-icons prefix">description</i>
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Department Description" class="validate" formControlName="departmentDescription" required></textarea>
              </mat-form-field>
              <div>
                <button mat-raised-button color="primary">
                    <i class="material-icons small">edit</i> Submit</button>
                <button mat-raised-button color="primary" (click)="toUpdate=false">
                    <i class="material-icons small">cancel</i> Cancel</button>
              </div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </div>
  </div>

<!-- Floating button-->
 <button mat-fab style="right:2%; bottom:2%; position:fixed;" [routerLink]="['/create-department']">
    <i class="material-icons small">add</i>

      </button>
