

input {
  width: 325px;
  margin: 8px;
  background-color: #dfdfdf;
  font-size:17px;
}

.grid{
  width: 80%;
  text-align: center;
}

.full-width{
   width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.container{
    display: block;
    text-align: center;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    }
    
.card{
    margin:2%;
    padding:2%;
    width:65%;
    }  