
<div class="mat-elevation-z6 navbar">
<mat-toolbar color = "primary" class = "docs-navbar-header">
	<span>TrainingManager</span>
	 <span class="example-fill-remaining-space"></span>
	<div class = "menu-items" *ngIf="!isLoggedIn">
  		<a class="a-class" [routerLink]="['/register']">Register</a>&nbsp;
  		<a class="a-class" [routerLink]="['/login']">Login</a>&nbsp;&nbsp;
  	</div>

  	<div class = "menu-items" *ngIf="isLoggedIn">
  		<a (click)="logout()">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
  		<a [routerLink]="['/search']"><mat-icon>search</mat-icon></a>&nbsp;&nbsp;&nbsp;&nbsp;
  		<a (click)="navigateToUserProfile()"><mat-icon>account_circle</mat-icon></a>
  	</div>
</mat-toolbar>
</div>