/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background:#F2F2F7;
}
.menu-class {
	margin: auto;
	position: absolute !important;
    right: 0px;
	
}
.example-card {
    width: 500px;
	margin: auto;
}

.example-header-image {
    background-image: url('/assets/dog.jpg');
    background-size: cover;
}
