<div class="main">
  <mat-card class="view" *ngIf="!isUpdate">
    <div class="center">
      <h3 class="center">
        <b> USER PROFILE </b>
      </h3>
      <br>

      <table>
        <tr>
          <td style="width:5%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">account_circle</i>
          </td>
          <td style="width:35%;text-align:left">
            <i style="font-size:14px;color:grey">First Name</i>
            <h6>
              <b>{{user.firstName | titlecase }}</b>
            </h6>
          </td>
          <td style="width:40%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">account_circle</i>
          </td>
          <td style="width:5%;text-align:left">
            <i style="font-size:14px;color:grey">Last Name</i>
            <h6>
              <b>{{user.lastName | titlecase}}</b>
            </h6>
          </td>
        </tr>

        <tr>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">insert_emoticon</i>
          </td>
          <td style="width:35%;text-align:left">
            <i style="font-size:14px;color:grey">Gender</i>
            <h6>
              <b>{{user.gender | titlecase}}</b>
            </h6>
          </td>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">call</i>
          </td>
          <td style="width:35%;text-align:left">
            <i style="font-size:14px;color:grey">Phone Number</i>
            <h6>
              <b>{{user.phoneNumber | titlecase}}</b>
            </h6>
          </td>
        </tr>

        <tr>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">location_city</i>
          </td>
          <td style="width:35%;text-align:left">
            <i style="font-size:14px;color:grey">Door Number</i>
            <h6>
              <b>{{address.doorNumber | titlecase}}</b>
            </h6>
          </td>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">time_to_leave</i>
          </td>
          <td style="width:35%;text-align:left">
            <i style="font-size:14px;color:grey">Street Name</i>
            <h6>
              <b>{{address.streetName | titlecase}}</b>
            </h6>
          </td>
        </tr>

        <tr>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">pin_drop</i>
          </td>
          <td style="width:35%;text-align:left">
            <i style="font-size:14px;color:grey">Area</i>
            <h6>
              <b>{{address.area | titlecase}}</b>
           </h6>
          </td>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">pin_drop</i>
          </td>
          <td style="width:35%;text-align:left">
            <i style="font-size:14px;color:grey">City</i>
            <h6>
              <b>{{address.city | titlecase}}</b>
            </h6>
          </td>
        </tr>

        <tr>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">pin_drop</i>
          </td>
          <td style="width:25%;text-align:left">
            <i style="font-size:14px;color:grey">State</i>
            <h6>
              <b>{{address.state | titlecase}}</b>
            </h6>
          </td>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">pin_drop</i>
          </td>
          <td style="width:25%;text-align:left">
            <i style="font-size:14px;color:grey">Country</i>
            <h6>
              <b>{{address.country | titlecase}}</b>
            </h6>
          </td>
        </tr>
        <tr>
          <td style="width:10%;text-align:right">
            <i class="large material-icons md-18" style="font-size:35px">fiber_pin</i>
          </td>
          <td style="width:25%;text-align:left">
            <i style="font-size:14px;color:grey">Zipcode</i>
            <h6>
              <b>{{address.zipcode }}</b>
            </h6>
          </td>
        </tr>
        <tr>
          <td style="width:10%;"></td>
          <td style="width:35%;"></td>
          <td style="width:10%;"></td>
          <td>
            <div style="text-align:left">
              <button mat-raised-button color="primary" (click)="updateToggle()">
                <i class="material-icons small">create</i> UPDATE USER DETAILS</button>
            </div>
          </td>
        </tr>
      </table>

    </div>
  </mat-card>

  <mat-card *ngIf="isUpdate">
    <div class="center">
      <h3 class="center">
        <b> USER PROFILE UPDATE </b>
      </h3>
      <br>

      <form name="myForm" #validateForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div>
          <i class="material-icons prefix">account_circle</i>
          <mat-form-field class="full-width">
            <input #firstName (keyup)="validateFirstName(firstName.value)" matInput placeholder="First Name" [(ngModel)]="user.firstName"
              name="user.firstName" [ngModelOptions]="{standalone: true}" required>
            <span class="font" *ngIf="!first">invalid firstname</span>
          </mat-form-field>

          <!-- </div>
        <div> -->
          <i class="material-icons prefix">account_circle</i>
          <mat-form-field class="full-width">
            <input #lastName (keyup)="validateLastName(lastName.value)" matInput placeholder="Last Name" [(ngModel)]="user.lastName"
              name="user.lastName" [ngModelOptions]="{standalone: true}" required>
            <span class="font" *ngIf="!last">invalid lastname</span>
          </mat-form-field>

        </div>

        <!-- <i class="material-icons prefix">insert_emoticon</i>
        <mat-form-field class="full-width">
            <mat-select placeholder="Gender" [(ngModel)]="user.gender" name="user.gender" [ngModelOptions]="{standalone: true}">
                <mat-option value="male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
        <!-- <input matInput placeholder="Gender" [(ngModel)]="user.gender" name="user.gender" [ngModelOptions]="{standalone: true}" disabled>
          </mat-form-field> -->
        <div>
          <i class="material-icons prefix">call</i>
          <mat-form-field class="full-width">
            <input #phoneNumber (keyup)="validatePhoneNumberField(phoneNumber.value)" matInput placeholder="Phone Number" [(ngModel)]="user.phoneNumber"
              name="user.phoneNumber" [ngModelOptions]="{standalone: true}" #phoneNumber="ngModel" minlength="10" maxlength="10"
              required>
            <span class="font" *ngIf="!phone">Please input a valid number</span>
          </mat-form-field>
          <!-- <br> -->

          <!-- </div>

        <div> -->
          <i class="material-icons prefix">location_city</i>
          <mat-form-field class="full-width">
            <input #doorNumber (keyup)="validateDoorNumber(doorNumber.value)" matInput placeholder="Door Number" [(ngModel)]="address.doorNumber"
              name="address.doorNumber" [ngModelOptions]="{standalone: true}" required>
            <span class="font" *ngIf="!door">door number cannot be null</span>
          </mat-form-field>
        </div>
        <!--
        </div>
        <div> -->
        <div>
          <i class="material-icons prefix">time_to_leave</i>
          <mat-form-field class="full-width">
            <input #streetName (keyup)="validateStreetName(streetName.value)" matInput placeholder="Street Name" [(ngModel)]="address.streetName"
              name="address.streetName" [ngModelOptions]="{standalone: true}" required>
            <span class="font" *ngIf="!street">street name cannot be null</span>
          </mat-form-field>
          <!-- </div>

        <div> -->
          <i class="material-icons prefix">pin_drop</i>
          <mat-form-field class="full-width">
            <input #area (keyup)="validateArea(area.value)" matInput placeholder="Area" [(ngModel)]="address.area" name="address.area"
              [ngModelOptions]="{standalone: true}" required>
            <span class="font" *ngIf="!area1">invalid area</span>
          </mat-form-field>

        </div>
        <div>
          <i class="material-icons prefix">pin_drop</i>
          <mat-form-field class="full-width">
            <input #city (keyup)="validateCity(city.value)" matInput placeholder="City" [(ngModel)]="address.city" name="address.city"
              [ngModelOptions]="{standalone: true}" required>
            <span class="font" *ngIf="!city1">invalid city</span>
          </mat-form-field>

          <!--
        </div>

        <div> -->

          <i class="material-icons prefix">pin_drop</i>
          <mat-form-field class="full-width">
            <input #state (keyup)="validateState(state.value)" matInput placeholder="State" [(ngModel)]="address.state" name="address.state"
              [ngModelOptions]="{standalone: true}" required>
            <span class="font" *ngIf="!state1">invalid state</span>
          </mat-form-field>
        </div>
        <!--
        </div>
        <div> -->
        <div>
          <i class="material-icons prefix">pin_drop</i>
          <mat-form-field class="full-width">
            <input #country (keyup)="validateCountry(country.value)" matInput placeholder="Country" [(ngModel)]="address.country" name="address.country"
              [ngModelOptions]="{standalone: true}" required>
            <span class="font" *ngIf="!country1">invalid country</span>
          </mat-form-field>

          <!-- </div>
        <div> -->
          <i class="material-icons prefix">fiber_pin</i>
          <mat-form-field class="full-width">
            <input #zipCode (keyup)="validateZipCode(zipCode.value)" matInput placeholder="Zip Code" [(ngModel)]="address.zipcode" name="address.zipcode"
              [ngModelOptions]="{standalone: true}" #zipcode="ngModel" minlength="6" maxlength="6" required>
            <span class="font" *ngIf="!zip">Please input a valid ZipCode</span>
          </mat-form-field>
        </div>

        <!-- <button type="submit" class="btn btn-primary" >
      submit
    </button> -->
        <div class="center">
          <button mat-raised-button color="primary">
            <i class="material-icons small">create</i> UPDATE</button>

          <button mat-raised-button color="primary" (click)="fetchUser()">
            <i class="material-icons small">cancel</i>
            CANCEL</button>
        </div>

      </form>
    </div>
  </mat-card>
</div>

<mat-card style="width:60%;margin:3% auto;">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="one">
      <span class="center">
        <h4>Assigned Roles</h4>
        <mat-list *ngFor="let role of presentRoles">
          <mat-list-item class="center" (click)="revokeRoleToUser(user.id, role)">{{role.roleName}}
            <button style="margin:1px;" mat-mini-fab>-</button>
          </mat-list-item>
        </mat-list>
      </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <span class="center">
        <h4>Available Roles</h4>
        <mat-list *ngFor="let role of availableRoles">
          <mat-list-item (click)="grantRoleToUser(user.id, role)">{{role.roleName}}
            <button style="margin:1px;" mat-mini-fab>+</button>
          </mat-list-item>
        </mat-list>
      </span>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card> 





