.full-width {
  width: 40%;
  margin-right: 3%;
}

.full-width-oneline {
  width: 30%;
}

.half-width {
  width: 20%;
}

.main {
  padding-top: 60px;
}

.nocenter {
  text-align: left
}

.font {
  color: red;
  font-family: "Times New Roman", Times, serif;
}

input {
  background-color: white;
  margin-right: 3%;
}

table {
  width: 100%;
  margin: auto;
}

tr {
  width: 90%;
  background-color: white;
  border-bottom: 0.7px solid silver;
}

td {
  background-color: white;
}

.view {
  width: 50%;
  margin: auto;
}

.center{
text-align: center;
}

.one {
border-right:0.5px solid rgb(114, 111, 111);
}
